<table class="table table-striped table-hover border">
    <thead>
    <tr>
        <th scope="col">{{ 'blog_post.title' | trans }}</th>
        <th scope="col">
            {{ pagination_sortable(pagination, 'blog_post.author' | trans, 'author') }}
        </th>
        <th scope="col">
            {{ pagination_sortable(pagination, 'blog_post.created_at' | trans, 'createdAt') }}
        </th>
    </tr>
    </thead>
    <tbody>
    {% for post in pagination.pager %}
        <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.author.username }}</td>
            <td>{{ post.createdAt | date('Y-m-d') }}</td>
        </tr>
    {% endfor %}
    {% if pagination.pager is empty %}
        {{ 'datatable.no_data' }}
    {% endif %}
    </tbody>
</table>
<div class="d-flex justify-content-center mt-5 flex-wrap">
    {{ pagerfanta(pagination.pager, null, {
        'prev_message': '<i class="fa-solid fa-chevron-left"></i>',
        'next_message': '<i class="fa-solid fa-chevron-right"></i>'
    }) }}
</div>
