<div {{ stimulus_controller('reload-content') }}
        {{ stimulus_action('reload-content', 'reload', 'dt-paginate:goTo')
        | stimulus_action('reload-content', 'reload', 'dt-filter:search') }}
>
    <div class="d-flex justify-content-end">
        <span class="text-muted">{{ 'listing.count' | trans({'count': pagination.pager.count}) }}</span>
    </div>
    <table class="table table-striped table-hover border">
        <thead>
        <tr class="text-nowrap">
            <th scope="col">{{ 'blog_post.title' | trans }}</th>
            <th scope="col">
                {{ pagination_sortable(pagination, 'blog_post.author' | trans, 'author', ajaxMode) }}
            </th>
            <th scope="col">
                {{ pagination_sortable(pagination, 'blog_post.created_at' | trans, 'createdAt', ajaxMode) }}
            </th>
            <th scope="col">
                {{ pagination_sortable(pagination, 'blog_post.updated_by' | trans, 'updatedBy', ajaxMode) }}
            </th>
            <th scope="col">
                {{ pagination_sortable(pagination, 'blog_post.updated_at' | trans, 'updatedAt', ajaxMode) }}
            </th>
            <th scope="col"></th>
        </tr>
        <tr {{ stimulus_controller('dt-filter') }}>
            <th>
                {{ pagination_filterable(
                    pagination, 'blog_post.title' | trans, 'title',
                    'datatable.search.placeholder.title' | trans
                ) }}
            </th>
            <th>
                {{ pagination_filterable(
                    pagination, 'blog_post.author' | trans, 'author',
                    'datatable.search.placeholder.author' | trans
                ) }}
            </th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for post in pagination.pager %}
            <tr>
                <td>{{ post.title }}</td>
                <td>{{ post.author.username }}</td>
                <td>{{ post.createdAt | date('Y-m-d') }}</td>
                <td>{{ post.updatedBy ? post.updatedBy.username : '' }}</td>
                <td>{{ post.updatedAt ? (post.updatedAt | date('Y-m-d')) : '' }}</td>
                <td class="text-nowrap">
                    <a href="{{ path('app_blog_post_item', {'slug': post.slug}) }}"
                       class="text-decoration-none"
                       aria-label="{{ 'btn.read' | trans }}"
                       title="{{ 'btn.read' | trans }}"
                    >
                        <i class="fa-solid fa-eye"></i>
                    </a>
                    <a href="{{ path('app_admin_blog_post_edit', {'slug': post.slug}) }}"
                       class="text-decoration-none"
                       aria-label="{{ 'btn.edit' | trans }}"
                       title="{{ 'btn.edit' | trans }}"
                    >
                        <i class="fa-solid fa-pen"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
        {% if pagination.pager is empty %}
            <tr>
                <td colspan="4" class="text-center">{{ 'datatable.no_data' | trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-5 flex-wrap">
        {{ pagerfanta(pagination.pager, 'app_pagination', {'ajax_mode': ajaxMode}) }}
    </div>
</div>
