{% extends 'base.html.twig' %}

 {% block body %}
     <div class="row row-cols-1 row-cols-md-2 row-cols-xl-4 g-4">
         {% for post in pagination %}
             <div class="col">
                 <div class="card">
                     <div class="card-body">
                         <h5 class="card-title text-truncate">{{ post.title }}</h5>
                         <h6 class="card-subtitle mb-2 text-muted">{{ post.createdAt | date('Y-m-d') }}</h6>
                         <p class="card-text text-truncate">{{ post.content }}</p>
                         <a href="{{ path('app_blog_post_item', {'slug': post.slug }) }}" class="btn btn-primary">
                             voir
                         </a>
                     </div>
                 </div>
             </div>
         {% endfor %}
     </div>
     <div class="navigation">
         <div class="count">
             {{ pagination.getTotalItemCount }}
         </div>
         {{ knp_pagination_render(pagination) }}
     </div>
 {% endblock %}
