{% extends 'base.html.twig' %}

{% block title %}
    {{ (blogPost ? 'route.name.admin.blog_post_edit' : 'route.name.admin.blog_post_create') | trans({}, 'routes') }}
{% endblock %}

 {% block body %}
     <div class="card shadow">
         <div class="card-body">
             {% if blogPost %}
                 <div class="mb-3">
                     <table class="table table-borderless table-sm">
                         <tr>
                             <td>{{ 'blog_post.author' | trans }}</td>
                             <td>{{ blogPost.author.username }}</td>
                         </tr>
                         <tr>
                             <td>{{ 'blog_post.created_at' | trans }}</td>
                             <td>{{ blogPost.createdAt | format_datetime }}</td>
                         </tr>
                         {% if blogPost.updatedAt %}
                             <tr>
                                 <td>{{ 'blog_post.updated_by' | trans }}</td>
                                 <td>{{ blogPost.updatedBy.username }}</td>
                             </tr>
                             <tr>
                                 <td>{{ 'blog_post.updated_at' | trans }}</td>
                                 <td>{{ blogPost.updatedAt | format_datetime }}</td>
                             </tr>
                         {% endif %}
                     </table>
                 </div>
             {% endif %}

             {{ form_start(form) }}
             {{ form_widget(form) }}
             <div class="d-flex justify-content-end">
                 <button type="submit" class="btn btn-primary">
                     {{ (blogPost ? 'btn.update' : 'btn.create') | trans }}
                 </button>
             </div>

             {{ form_end(form) }}
         </div>
     </div>
 {% endblock %}
