{% extends 'datatable/_datatable.html.twig' %}

{% block titles %}
    <th scope="col"></th>
    <th scope="col">{{ 'image.title' | trans }}</th>
    <th scope="col">{{ 'image.description' | trans }}</th>
    <th scope="col">
        {{ pagination_sortable(pagination, 'image.uploaded_by' | trans, 'createdBy', ajaxMode) }}
    </th>
    <th scope="col">
        {{ pagination_sortable(pagination, 'image.uploaded_at' | trans, 'createdAt', ajaxMode) }}
    </th>
    <th scope="col"></th>
{% endblock %}

{% block filters %}
    <th></th>
    <th>
        {{ pagination_filterable(
            pagination,
            'image.title' | trans,
            'title',
            'datatable.search.placeholder.title' | trans
        ) }}
    </th>
    <th></th>
    <th>
        {{ pagination_filterable(
            pagination,
            'image.uploaded_by' | trans,
            'createdBy',
            'datatable.search.placeholder.creator' | trans
        ) }}
    </th>
    <th></th>
    <th></th>
{% endblock %}

{% block body %}
    {% for image in pagination.pager %}
        <tr>
            <td>
                <img src="{{ image.name | imagine_filter('image_500_500') }}"
                     height="50"
                     width="50"
                     alt="{{ image.alt }}"
                />
            </td>
            <td>{{ image.title }}</td>
            <td>{{ image.description }}</td>
            <td>{{ image.createdBy.username }}</td>
            <td>{{ image.createdAt | date('Y-m-d') }}</td>
            <td class="text-nowrap">
                {{ include('datatable/_action_edit_link.twig', {
                    url: path('app_admin_image_edit', {'id': image.id}),
                }) }}
                {{ include('datatable/_action_delete_link.twig', {
                    url: path('app_admin_image_delete', {'id': image.id}),
                    name: image.title,
                    deletedMsg: 'modal.image.deleted' | trans,
                    csrfToken: csrf_token('delete-image-' ~ image.id.toRfc4122)
                }) }}
            </td>
        </tr>
    {% endfor %}
{% endblock %}