<a href="{{ url }}"
   class="text-decoration-none text-danger"
   aria-label="{{ 'btn.delete' | trans }}"
   title="{{ 'btn.delete' | trans }}"
   data-msg="{{ confirmDeleteMsg }}"
   data-deleted-msg="{{ deletedMsg }}"
   data-action="confirm-delete#confirmDelete"
   data-csrf-token="{{ csrfToken }}"
>
    <i class="fa-solid fa-trash"></i>
</a>