<div class="table-responsive"
        {{ stimulus_controller('reload-content') }}
        {{ stimulus_action('reload-content', 'reload', 'dt-paginate:goTo')
        | stimulus_action('reload-content', 'reload', 'dt-filter:search') }}
>
    <div class="d-flex justify-content-end">
        <span class="text-muted">{{ 'listing.count' | trans({'count': pagination.pager.count}) }}</span>
    </div>
    <table class="table table-striped table-hover border">
        <thead>
        <tr class="text-nowrap">
            {% block titles %}{% endblock %}
        </tr>
        <tr {{ stimulus_controller('dt-filter') }}>
            {% block filters %}{% endblock %}
        </tr>
        </thead>
        <tbody>
        {% block body %}{% endblock %}
        {% if pagination.pager is empty %}
            <tr>
                <td colspan="4" class="text-center">{{ 'datatable.no_data' | trans }}</td>
            </tr>
        {% endif %}
        </tbody>
    </table>
    <div class="d-flex justify-content-center mt-5 flex-wrap">
        {{ pagerfanta(pagination.pager, 'app_pagination', {'ajax_mode': ajaxMode}) }}
    </div>
</div>
