<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %} | {{ appName }}</title>
    <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body class="d-flex flex-column vh-100">

<header class="mb-2">
    {{ render(controller('App\\Controller\\LayoutController::navbar')) }}
</header>

<main class="container mb-2">
    {{ include('layout/_breadcrumb.html.twig') }}
    {% block body %}{% endblock %}
</main>

<footer class="mt-auto">
    {{ render(controller('App\\Controller\\LayoutController::footer')) }}
</footer>

<div id="toast-container" class="toast-container position-fixed top-0 end-0 p-3" data-toast-tpl="{{ include('_toast.html.twig') | e }}">

</div>

</body>
</html>
